h1 {
  font-family: 'Cutive Mono', monospace;
  font-size: 70px;
  text-align: center;
  line-height: 5px;
  margin-top: 70px;
  color: white;

}


h3 {
  color: white;
  font-size: 20px;
  margin: 35px;
}

.Quote{
  background-color: #9C0042;
  font-size: 24px;
  color: white;
  font-weight: normal;
  text-align: center;
  padding: 50px;
  font-family: 'Didact Gothic', sans-serif;

}

body{
  background-image:url("trees2.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: bold;
}

.sidenav a {
    padding: 0px 8px 8px 8px;
    text-decoration: none;
    font-size: 24px;
    color: Gold;
    display: inline;
    transition: 0.3s;
    font-family: 'Didact Gothic', sans-serif;
    text-align:center;
    align-items: center;
    font-weight:bold;

}

h2 {
  text-align:center;
  font-weight: bold;
}

.Entry {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 28px;
  text-shadow: black 2px 1px;
  color: white;

}

#Enter{
  color: #FFFFFF;
  background-color: #000000;
  border-style: ridge;
  border-color: #000000;
  text-align: center;
  align-items: center;
  font-size: 20px;
  position: relative;
  padding: 10px;
  margin: 10px;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  height: 60px;
  position: relative;
  margin: auto;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 25px;
}

.mySlides {
  display:none;
  background:  rgba(255,215,0,0.7);
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -15px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}*/

/* Caption text
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}*/



/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.0s;
  animation-name: fade;
  animation-duration: 2.0s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
