body{
  background-image: url("water2.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}

div{
  font-size: 25px;
  color: #EEEEF9;
  text-align: center;
  margin-top: 150px;
}
span{
  text-transform: capitalize;
}
